body {
    background-color: #000000;
    color: #a85ee5;
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px 30px 10px 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    border: dotted #f5f7ab;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    color: #9b71ac;
    text-align: center;
}

h2 {
    color: #50cae5;
    margin-left: 2%;
}

ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #f5f7ab;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ohh {
    color: #5c8dbd;
    font-weight: bold;
}

.yum {
    color: #e56650;
    font-weight: bold;
}

.goodbye {
    text-align: center;
}

.dang {
    text-align: center;
    border-style: dotted;
    border-color: azure;
    border-radius: 5em;
}
